.pageWrapper {
    width: 100%;
    place-items: center;
    justify-content: center;
}

.trainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  place-items: center;
  padding: 40px;
  font-family: Arial, sans-serif;
  width: 80%;
}

.trainLeft {
  flex: 3;
}


.trainLeft h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.trainLeft p {
  font-size: 1.2rem;
  color: #444;
}

.trainRight {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex: 3;
}



.tag {
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  background-color: #daf6fd;
  color: #225f7c;
}