.iconListEntry {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.icon {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 3rem;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 5px;
}

.textTop {
    color: var(--textTop-color, #0061f2);
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 4px;
}

.textBottom {
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .iconListPage {
      flex-direction: column !important;
      margin: 20px;
      align-items: center;
    }
  
    .image {
      width: 100% !important;
      height: auto;
      margin-top: 2rem;
    }
  
    .list {
      width: 100%;
    }
    .iconListEntry {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .icon {
        margin: 10px 0;
      }
  }
  