.footer {
    background-color: #0c2a5d;
    color: #fff;
    padding: 2.5rem 1rem;
  }
  
  .footerContent {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
  
  .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .top {
    display: flex;
    flex-direction: column;
    align-items:left;
    gap: 1.5rem;
    width: 100%
  }

  .bottom {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0; /* Only vertical margin */
}
  
  .right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  
  .socialIcons {
    display: flex;
    gap: 1.0rem;
    margin-left: 6.0rem;
  }
  
  .icon {
    color: #cbd5e1;
    font-size: 2.0rem;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #ffffff;
  }
  
  .contactButton {
    background-color: #ffffff;
    color: #0c2a5d;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
  }
  
  .contactButton:hover {
    background-color: #cce4ff;
    color: #023e8a;
  }
  
  .copyright {
    font-size: 0.85rem;
    color: #cbd5e1;
  }
  