.header {
  background-color: #fff;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #023E8A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  color: #023E8A;
  text-decoration: none;
  font-size: 1.2rem;
}

.logoImage {
  height: 120px;
  width: auto;
}

.nav {
  display: flex;
  gap: 40px;
}

.navLink {
  color: #023E8A;
  text-decoration: none;
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}
