.header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #023E8A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  nav {
    display: flex;
    gap: 40px; /* Adjust spacing as needed */
}

nav a {
    text-decoration: none;
}
  
  