.outerContainer {
  display: flex;
  justify-content: left; /* center horizontally */
  width: 100%;             /* full width of parent or page */
}

.iconListPage {
    display: flex;
    height: auto;
    width: auto;
    margin: 40px;
    margin-left: 100px;
    place-items: center;
}

.image {
    height: 33rem;
    margin: 3rem;
}

.list {
    width: 35rem;
}


.normal {
  flex-direction: row;
}

.flipped {
  flex-direction: row-reverse;
}