.outerContainer {
  display: flex;
  width: 100%;             /* full width of parent or page */
  max-width: 1500px;
}

.iconListPage {
    display: flex;
    height: auto;
    width: auto;
    margin: 40px;
    margin-left: 100px;
    place-items: center;
    justify-content: center;
}

.image {
  width: auto;
  max-width: 50%;
}

.list {
  max-width: 45%;
}

.normal {
  flex-direction: row;
}

.flipped {
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .iconListPage {
    flex-direction: column;
  }

  .list {
    margin-top: 50px;
    max-width: 80%;
  }

  .image {
    max-width: 80%;
  }
}